<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="personas">
      <ion-icon name="people"></ion-icon>
      <ion-label>Personas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addMessage">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Alta Mensaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photo-gallery">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photo Gallery</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
